@font-face{font-family:'Fragment Mono';font-style:normal;font-weight:400;font-display:swap;src:url('../fonts/FragmentMono-400.woff2') format('woff2');}
@font-face{font-family:'Jura';font-style:normal;font-weight:400;font-display:swap;src:url('../fonts/Jura-400.woff2') format('woff2');}
@font-face{font-family:'Jura';font-style:normal;font-weight:600;font-display:swap;src:url('../fonts/Jura-600.woff2') format('woff2');}
@font-face{font-family:'Jura';font-style:normal;font-weight:700;font-display:swap;src:url('../fonts/Jura-700.woff2') format('woff2');}
@font-face{font-family:'League Gothic';font-style:normal;font-weight:400;font-display:swap;src:url('../fonts/LeagueGothic-400.woff2') format('woff2');}
